.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: 1px solid;
}

#wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

#wrapper-grid > div {
  height: 100px;
}
