body{
    font-size: 14px;
}
.content{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.left{
    padding: 20px 0 10px 10px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
    color: #fff;
    background-color: rgb(38,71,100);
}

@keyframes down {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(50%);
    }
}
.show-left{
    position: relative;
    animation: down 650ms ease-in-out infinite alternate;
}
.right{
    padding-top: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

/*左侧个人信息*/
.item-info{
    margin-bottom: 10px;
    white-space: nowrap;
}

/*职业技能*/
.title-left{
    margin-top: 40px;
}
/*左侧技能条目*/
.item-skill{
    margin-top: 20px;
}
.progress{
    margin-top: 5px;
    height: 5px;
    background-color: rgb(147,163,177);
}
.progress-60{
    width: 60%;
}
.progress-65{
    width: 65%;
}
.progress-70{
    width: 70%;
}
.progress-75{
    width: 75%;
}
.progress-80{
    width: 80%;
}
.progress-85{
    width: 85%;
}
.progress-90{
    width: 90%;
}

/*右侧条目*/
.item-right{
    margin-top: 30px;
}
.title-right{
    color: rgb(39,71,100);
    overflow: hidden;
}
.title-right>span.fa{
    width: 50px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.title-right>h2{
    display: table-cell;
    width: 3000px;
    padding-top: 5px;
    font-size: 20px;
    overflow: hidden;
    border-bottom: 2px solid rgb(39,71,100);
}
.box-col{
    padding-left: 3px;
    background-color: rgba(39,71,100,.2);
}
.box-list{
    margin-top: 5px;
}
.arrow-up{
    padding: 4px;
    position: fixed;
    right: 8px;
    bottom: 16px;
    border-radius: 50%;
    display: none;
    background-color: lightskyblue;
    color: lightyellow;
}
/*自定义*/
.cell{
    display: table-cell;
    width: 3000px;
}
.col2{
    float: left;
    width: 50%;
}
.col3{
    float: left;
    width: 33.333%;
}
.col4{
    float: left;
    width: 25%;
}
.w40{
    float: left;
    width: 40%;
}

.cf:after {
    content: '';
    display: table;
    clear: both;
}
.tc{
    text-align: center;
}
h4{
    margin: 0;
    text-align: justify;
}
h4>span{
    font-weight: normal;
}
ol{
    margin: 0;
    padding-left: 30px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}

@media screen and (min-width: 630px){
    .left{
        position: relative;
        width: 24%;
        float: left;
        margin-right: 15px;
        transform: translateY(0) !important;
    }
    .show-left{
        display: none;
    }
}